header {
    height: 1500px;
    background-color: aqua;

    background-image: url(images/frozen.jpg);
    background-repeat: no-repeat;

    background-position:bottom;
}

 
 div {
    background-color: tan;
    width: 500px;
    border: 20px solid black;
    padding:20px;
    margin: 50px;
    box-shadow: 20px 20px 5px gray;
 }