 .soluta {
    width: 50px;
    height: 300px;
    border: 5px solid rebeccapurple;
    color: red;
   background-color: thistle;
 }
 .Blog {
    background-color: tan;
    
 }

 .Blog h1 {
  text-decoration: underline;
 }

 .Blog-2 {
    background-color: cadetblue;
 }

 .Blog-3 {
    background-color: pink;
 }

 #content {
    background-color: gray;
    margin-left: 100px;
    width: fit-content;
 }